html, body {
  height: 100%;
  width: 100%;
  font-family: futura;
  margin:0;
  padding:0;
  background: #ffffff;
}
.main-container{
  height: 180vh;
  padding-top: 100px;
  padding-left: 124px;
}
.btn-primary{
font-size: 36px;
  background:#093330;
  color: #FFFFFF;
  font-family: futura md;
  width:1068px; 
  height:99px;
  border-radius: 80px;
  align-items: center;
  text-align: left;
  margin: auto;
  display: grid;
  padding-left: 124px;
}
#text-cont{
text-align: left;
margin: 15px 0px;

font-family: futura md;
font-size: 32px;
padding-top: 100px;
}
.control{
margin: 15px;
align-items: left;
display: grid;
}
#radio{
  border-radius: 80px;
    width: 94px;
    height: 94px;
  }
.btn-cont{
font-size: 32px;
background-color: #AEBEBD;
color: #FFFFFF;
font-family: futura md;
width:579px;
height:156px;
border-radius: 20px;
align-items: center;
text-align: center;
display: grid;
margin: auto;
}
.cont{ 
padding-top: 100px;
align-items: left;
margin: auto;
display: flex;
justify-content: space-between; 
width:100%;
}
.btn-ton1{
font-size: 32px;
background-color: #093330;
color: #FFFFFF;
font-family: futura md;
width:579px; 
height:156px;
border-radius: 20px;
align-items: center;
text-align: center;
display: grid;
margin: auto;
}
