html, body {
  height: 100%;
  width: 100%;
  font-family: futura;
  margin:0;
  padding:0;
  background: #FFFFFF;
}
.main-container{
  height: 180vh;
}
.image{
  width: 20%;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 120px;
  width: 85%;
}
.btn-primary{
  font-size: 20px;
  background-color: #E43A19;
  color: #FFFFFF;
  font-family: futura bk;
  width:100px;
  height:40px;
  border: none;
}
h4{
  font-size: 18px;
   color: #093330;
  font-family: futura bold;
  padding-top: 22px;
  padding-left: 124px;
  font-family: futura b; }
p{font-size: 16px;
 font-family: futura l;
padding-left: 124px;
  padding-right: 124px;
 text-align: left;}
h2{
  font-size: 40px;
  color: #093330;
}
h3{
  font-size: 32px;
    color: #093330;
 font-family: futura m; 
  padding-top: 22px;
  padding-left: 124px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100px;
  margin: 20px 125px;
  color: #093330;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 32.5px;
  width: 85%;
  }
.images{
  width:30%;
}
