body {
    background-color: blanchedalmond;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}
.form{
    width: 600px;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    margin: 10px;
    padding: 10px;
    border-radius: 300px;
    border-radius: 5px;
    border: 1px solid dodgerblue;
}
button{
    padding: 10px;
    background-color: dodgerblue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}