body{
    
    background-repeat: no-repeat;
    background-position: right top;
    text-align: center;
    position: relative;
    font-family: inter;
    transition: 2secs;
}
image{
    position: absolute;
    top: 4em;
}
.container {
    width: 80%;
    margin-inline: auto;
  }
  
.container .img-logo {
    aspect-ratio: 1/1;
    margin-bottom: -2.8em;
  }
  .logo {
    display: flex;
    gap: 5rem;
    justify-content: start;
    margin-top: 1.5em;
  }
  .logo .fa {
    width: 100%;
  }
  .img-logo {
    margin-block-end: 2em;
  }


section#transparent-box{
    top: 3em;
    border: 1px solid grey;
    width: 40%;
    height: 18em;
    position: relative;
    left: 25em;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
label{
    position: relative;
    right:22%;
}
input{
    width: 60%;
    height: 2.5em;
    border: 1px solid grey;
    border-radius: 6px;
    font-family: inter;
}
button#req-pass1{
    background-color: #ffff;
    width:60%;
    height:3em;
    border: 1px solid #0000;
    border-radius:6px;
    color: black;
    font-family: ;
    font-weight: ;
    padding-bottom: 2em;
}
button#req-pass{
    background-color: #093330;
    width: 60%;
    height: 3em;
    border: 1px solid #111f4d;
    border-radius: 6px;
    color: white;
    font-family: poppins;
    font-weight: 550;
    transition: 1sec linear;
}
button#req-pass:hover{
    background-color: rgb(54, 54, 99);
}
a{
    text-decoration: none;
    color: black;
    transition: 1sec;
    padding-bottom: 2em;
}
a:hover{
    color: rgb(107, 95, 95);
    transition: 1sec;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 110px;
    border-top: #111F4D 1px solid;
}

.footer a {
    color: #111F4D;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: white;
    }
    section#transparent-box{
        left: 3em;
        width: 85%;
    }
    input{
        width: 80%;
    }
    label{
        position: relative;
        right: 36%;
    }
    button#req-pass{
        width: 80%;
    }

}

@media only screen and (max-width: 450px) {
    body{
        background-color: white;
        background-image: none;
    }
    section#transparent-box{
        left: 0.5em;
        width: 95%;
        height: 22em;
    }
    input{
        width: 80%;
    }
    label{
        right: 35%;
    }
    button#req-pass{
        width: 80%;
    }
}