*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: futura b;
  overflow-x: hidden;
}
#me{
  width: 70%;
  /* gap: 120px; */
  color: #000000;
  font-weight: 400;
  line-height: 32.5px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
#logo{
  width: 50%;
}
#search{
  background-color: #476663;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
#first-cont{
  padding:10px 30px;
}
#first-conts{
  padding:70px 30px;
}
#fourth-cont{
width: 80%;
margin: auto;
}
#image{
  width:50%;
}
#images{
  width: 100%;
}
#ome{
  height: 70vh;
  font-family: futura b;
}
.head-text{
  margin-top: 30px;
  line-height: 84px;
  font-weight: 400;
  font-size: 40px;
}
.words{
  line-height: 28.75px;
  margin-top: 50px;
  font-size: 24px;
  font-family: futura b;
}
#third{
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color: red;
 margin-top: 50px;
}
.text-two{
  margin-top: 20px;
}
#green{
  width: 10%;
  position: absolute;
  top:-10px;
  right: 30px;
}
#cont{
  position: relative;
}
#last-footer{
  background-color: #093330;
  height: 30vh;
  padding: 20px 70px;
 
  display: flex;
  justify-content:center;
  align-items:center;
}
#searchs{
  width: 200px;
  height: 30px;
  background-color: #EC4B18;
  color:black;
  display: flex;
  justify-content:center;
  align-items: center;
  
}
#footer-frame{
  width: 90%;

}

.bold{
  font-weight: bold;
  color: #093330;
}
#sucess{
  width: 21%;
  gap: 15px;
}
#outline{
  background-color:#093330;
  color: white;
}
