*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: futura b;
  }
  section{
    padding: 20px 30px;
  }
  #me{
    width: 70%;
    /* gap: 120px; */
    color: #000000;
    font-weight: 400;
    line-height: 32.5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  #logo{
    width: 50%;
  }
  #search{
    background-color: #476663;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  #cont-text{
    color: #476663;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
  }
  #conttext-two{
    font-size: 20px;
    margin-top: 30px;
  }
  #conttext-three{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
  }
  #plus-icon{
    width: 5%;
    /* margin-top: -5px; */
  }
  #main-row{
    width: 80%;
    margin:50px 40px;
  }
  #main-rowS{
    width: 80%;
    margin:90px 40px;
    margin-top: 140px;
  }
  #conttext-four{
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    background-color: #476663;
    color: #FFFFFF;
    line-height: 48.24px;
    display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   gap: 10px;
  }
  #conttext-fours{
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    background-color: #476663;
    color: #FFFFFF;
    line-height: 48.24px;
    display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   
  }
  #inner-con{
    margin-top: 20px;
    background-color: #FFF8F8;
    width: 85%;
   text-align: start;
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
  
  
  }
  #inner-cons{
    margin-top: 20px;
    background-color: #FFF8F8;
    width: 85%;
   text-align: start;
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
  
  }
  #inner-consS{
    margin-top: 20px;
    background-color: #FFF8F8;
    width: 85%;
    height: 550px;
   text-align: start;
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
  
  }
  #inner-consST{
    margin-top: 20px;
    background-color: #FFF8F8;
    width: 85%;
    height: 450px;
   text-align: start;
   font-size: 18px;
   font-weight: 400;
   line-height: 21.58px;
  }
  
  #last-footer{
    background-color: #093330;
    height: 56vh;
    color: white;
    margin-top: 40px;
  }
  #fifth-cont{
    padding: 60px 90px;
    }
    .faint{
      font-weight: lighter;
      font-size: small;
    }
    .list{
      line-height: 27px;
    }