{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static 'css/about.css'%}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"/>
  <title>About Us Page</title>
</head>
<body>
  <section>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#"><img src="{% static 'image/Termalogo.png'%}" id="logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-nav-danger " id="me">
          <li class="nav-item active" id="item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" hresf="#">Templates</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active">
            <a href="../register" class="nav-link" >Sign Up</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button type="button" class="btn" id="sesarch">Search</button>
        </form>
      </div>
    </nav>
    <div class="row" id="first-cont">
      <div class="col-sm-6">
        <h2 class="head-text">Who are we?</h2>
        <p class="words">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet scelerisque euismod phasellus nibh. Rutrum metus massa tincidunt donec lacus, in. Velit, et nibh orci nunc. A arcu, maecenas faucibus pellentesque et amet.</p>
      </div>
      <div class="col-sm-6">
        <img src="{% static 'image/Frame_342.png'%}" alt="pic" id="images">
      </div>
    </div>
    <div class="row" id="first-conts">
      <div class="col-sm-6">
        <img src="{% static 'image/Group.png'%}" alt="pic" id="image">
      </div>
      <div class="col-sm-6">
        <div class="container-fluid" id="cont">
        <h2 class="head-two">What do we do?</h2>
        <p class="text-two">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet scelerisque euismod phasellus nibh. Rutrum metus massa tincidunt donec lacus, in. Velit, et nibh orci nunc. A arcu, maecenas faucibus pellentesque et amet.</p>
        <img src="{% static 'image/Group 24.png'%}" alt="" id="green">
      </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="row" id="fourth-cont">
      <div class="col-3">
        <p class="bold">2022</p>
        <p>Founded</p>
      </div>
      <div class="col-3 ">
        <p class="bold">10+</p>
        <p>Supported Countries</5>
      </div>
      <div class="col-3">
        <p class="bold">20+</h>
        <p>Users</p>
      </div>
      <div class="col-3">
        <p class="bold">30+</p>
        <p>Policies Created</p>
      </div>
    </div>
  </div>
  </section>
  <footer>
    
      <div class="row" id="last-footer">
        <div class="col-6" id="footer-btn">
          <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn" id="searchs">Our Service</button>
          </form>
        </div>
        <div class="col-6" id="footer-im">
          <img src="{% static 'image/Frame 273.png'%}" alt="" id="footer-frame">
        </div>
      </div>
   </footer>
  
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</html>