{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terma</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
   </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'image/Termalogo.png'%}" class="p-2" alt="Logo" title="Home"></a>
        <button class="navbar-toggler" type="button"
         data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
           aria-controls="navbarNav" 
           aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="../Aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Templates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contactus">Contact Us</a>
            </li>
          </ul>
          
            <button class="btn btn-outline-success me-2" type="button"><a href="../register">Register</a></button>
            <button class="btn btn-outline-success me-2" type="button"><a href="../login">Login</a></button>
          
        </div>
      </div>
    </nav>
    <div class="Hero vh-100 d-flex align item center">
      <div class="container pt-3">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <h2>Valid Solution for Your Product T&Cs</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum perferendis asperiores repellendus quo autem dignissimos 
              fuga ipsam dolores consectetur cumque. Ratione magni aperiam 
              ab est sint quos, debitis eum atque.</p>
              <a href="#" class="btn btn-danger">Let's Get Started</a>
            </div>
           

          <div class="col-md-6"> 
            <img src="{% static 'image/page 1 1.png'%}"
            alt="header image"></div>
        </div>
      </div>
    </div>

      <section id="section">
        <div class="container">
          <div class="row">
          <div class="col md-8 mx-auto center ">
            <h4>Why<i>Choose</i>Us</h4>
              </div>
          </div>

              <div class="row">
            <div class="col-md-3">
        <span class="img"> <img src="{% static 'image/Ellipse 18.png'%}"/>
        </span>
          <h3>We create the best and 
                most up to date policies 
                for your business
                </h3>
            </div>

            <div class="col-md-3">
            <span class="img"><img src="{% static 'image/Ellipse 19.png'%}"/></span>
           <h3>Terma Keeps you updated on new T&C modules available for 
                premium result</h3>
            </div>
            <div class="col-md-3">
              <span class="img"> <img src="{% static 'image/Ellipse 20.png'%}"/></span>
              <h3>Terma lets you edit and customize 
                manually your policies and also lets you download them on PDF, DOCX, 
                TXT and HTML format.
                </h3>
            </div>
            <div class="col-md-3">
            <span class="img"><img src="{% static 'image/Ellipse 21.png'%}"/></span>
              <h3>Terma is an Easy to Use System, 
                which gives youaccess to edit, 
                monitor and Enforce your 
                product policy at any given time</h3>
            </div>
            
          </div>
        </div>
        </section>
      </section>

      <section id="service">
        <div class="container">
          <div class="row">
            <div class="col md-6">
              <span class="handy"> 
                <img src="{% static 'image/Hand 2.png'%}"/>
              </span>
            </div>
            <div class="col md-6">
              <h3>Why You Need</h3>
              <h4>Terms And Condition</h4>
              <p class="service-card">Having a good Terms of Service (TOS) 
                is very important for every website 
or application. Basically, is a legal agreement between a service and a
person that wants to use that service.
We will take care to clear all the doubts of your current and upcoming 
users with our highly professional TOS generator.
</p>
<a href="#" class="btn btn-success">Get Started</a>
            </div>
          </div>
        </div>
      </section>

      <section class="cards">
        <div class="container">
          <div class="row  mx-auto my-5 justify-content-between">
            <h4>How it <i>Works</i></h4>

            <div class="col-sm-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title mt-1 mb-2">Step 1</h5>
                  <p class="card-text">Enter your website name 
                    and the URL to the website.
                    example(www.buymenow.com)</p>
                 
                </div>
              </div>
            </div>

            
            <div class="col-sm-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title mt-1 mb-2">Step 2 </h5>
                  <p class="card-text">All you need to do is answer a handful of simple questions, 
                    and we'll generate the Terms of Service for your website or app.It should take 
                    you less than 5 minutes to get it done </p>
                  </div>
                    </div>
                    </div>

            
              <div class="col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title mt-1 mb-2">Step 3</h5>
                    <p class="card-text">Go through the generated 
                      template that has been created for 
                      you or use the audio option for easy access. </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title mt-2 mb-2">Step 4</h5>
                    <p class="card-text">Click on the download button 
                      to download your template 
                      or copy the link to share your template.</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          
           </section>

           <section class="customers">
            <div class="container">
              <div class="row">
                <div class="col md-8 mx-auto center ">
                  <h4>Customer's Feedback</h4>
                </div>

                <div class="row mx-2">
                <div class="col md-3">
                  <div class="cust"> <img src="{% static 'image/Frame 220.png'%}"></div>
                </div>
                <div class="col md-43">
                  <div class="cust"> <img src="{% static 'image/Frame 221.png'%}"></div>
                </div>
                <div class="col md-3">
                <div class="cust"> <img src="{% static 'image/Frame 222.png'%}">
                </div>
                </div>
              </div>
            </div>
            </div>
           </section>

    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html