{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="logo" type="image/png" sizes="16x16">
  <title>Terms</title>
  <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="main-container">
   <div class="header"> 
  <button class="btn-primary"> 35% </button>
    
  </div>

  <form  id="form-cont">
        <div class="form-group" id="text-cont">
          <label for="inputAddress">what is your company name? <br> <br> (Don,t have a company registered, enter website/app name)</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Enter company name?">
        </div>
        
    
      <div class="form-group" id="text-cont">
          <label for="text">what is your website name?</label>
        
      
          <input type="text" class="form-control" id="inputAddress" placeholder="Enter website name?">
       </div>
    
     
       <div class="form-group" id="text-cont">
          <label for="text">what is your website url?</label>
      
        
          <input type="text" class="form-control" id="inputAddress" placeholder="Enter website url?">
       </div>
 <section class="cont">
         <button class="btn-cont"> Back  </button>
     
         <button class="btn-ton1"> Next </button> 
       </div>
        
      </form>
    
  </section>
</body>

</html>
