{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="logo" type="image/png" sizes="16x16">
  <title>Privacy Policy </title>
  <link href="{% static 'css/privacy_policy_preview.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="main-container">
  <div class="header">
     <img src="{% static 'image/terma.jpg'%}" alt="" aria-hidden="true" class="image">
   
  </div>

  <div class="container">
  <h2>PRIVACY POLICY </h2>
   <img src="{% static 'image/meni-icon.png'%}" alt="" aria-hidden="true" class="images">
  </div>
  <h4> Introduction </h4>
  <p> This privacy policy provides information on how “¬-------” collects and processes your personal data when you visit our website or mobile applications.
  </p>
  <h4> The Data We Collect About You?
</h4>
  <p>
    We may collect, use, store and transfer the following different kinds of personal data about you to create a free account on “¬-------” and for personal data optimization purposes:
•	Profile name
•	Email address
•	Phone number
•	Date of birth
•	Gender
•	Street address (see further details below)
•	Country
  </p>
  <h4>How We Use Your Personal Data  </h4>
  <p> We collect your personal data in order to provide and continually improve our products and/or services. We use your personal data to operate, provide, develop and improve the products and services that we offer, including the following:
•	Registering you as a new customer.
•	Processing and delivering your orders.
•	Managing your relationship with us.
•	Enabling you to participate in promotions, competitions and surveys.
•	Improving our website, applications, products and services
•	Recommending/advertising products or services which may be of interest to you.
•	Complying with our legal obligations, including verifying your identity where necessary.
•	Detecting fraud.
</p>
  <h4> How we share your personal data</h4>
  <p> We will only share your personal data:
•	Where we need to share personal data for the use of a “¬-------” service feature, or a third party application, service or device, which you have chosen to use, or 
•	If you otherwise grant us your permission to share the personal data. For example, you can do it by selecting the appropriate setting in the “¬-------” service or by giving your consent to connect your “¬-------” account, or allow you to use the “¬-------” service in connection with third party applications or services.
•	Examples of such third party applications, services and devices include: payment platforms, social media applications, automotive platforms, voice assistants etc.
</p>
  <h4> Data storage/retention </h4>
  <p> We keep your personal data only as long as necessary to provide you with the “¬-------” Service and for legitimate and essential business purposes, such as:
•	Maintaining the performance of the service
•	Making data-driven business decisions about new features and offerings.
•	Complying with our legal obligations
•	Resolving disputes.
</p>

</section>
<button class="btn-primary" > <a href="#" >Close </a> </button>
</body>

</html>
