{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="logo" type="image/png" sizes="16x16">
  <title>Terms</title>
  <link href="{% static 'css/T&C_Generator_page.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="main-container">
   <div class="header"> 
  <img src="{% static 'image/Termalogo.png'%}" alt="" aria-hidden="true" class="image">
    
  </div>
     <div class="container">
  <h3>Privacy Policy Generator </h3>
  <p>

    <h4>Generate a Privacy Policy agreement for your <br>
business with the Terms & Conditions Generator <br>
from Terma.
 </h4>
  </p>
  <p> <button class="btn-primary"> <a href="../privacymodal1">Generate Privacy Policy</a> </button> </p>

  </div>

  </section>
</body>

</html>
