{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready policy</title>
    <link rel="stylesheet" href="{% static 'css/ready.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">

        </div>
        <div class="main-content">
            <div class="header">Privacy Policy</div>
            <div class="img">
                <a href="#"><img src="{% static 'image/check.png'%}" width="200px" height="200px" alt=""></a>
            </div>
            <div class="ready">
                <h4>Your privacy policy is ready</h4>
            </div><br><br><br>
            <div>
                <div class="button">
                    <a href="">Back</a> </button>
                    <a href="../privacypolicy">Preview</a> </button>
                </div>

            </div>

        </div>
    </div>
</body>