{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="logo" type="image/png" sizes="16x16">
  <title>Terms</title>
  <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="main-container">
   <div class="header"> 
  <img src="{% static 'image/Terma.png'%}" alt="" aria-hidden="true" class="image">
   <button class="btn-primary"> Close </button>
  </div>

   <div class="container">
  <h2>TERMS AND CONDITIONS </h2>
<img src="{% static 'image/meni-icon.png'%}" alt="" aria-hidden="true" class="images">
  </div>
  <h3> Introduction </h3>
      <P>
        “¬------” is the trading name for the company. We operate an/a “¬------” platform consisting of a website and mobile application together with supporting payment infrastructure for the purchase of “¬------” products and/or services.

These general terms and conditions shall apply to users of the platform (website and mobile application) and shall govern your use of the platform and related services.

By using our platform you accept these general terms and conditions in full. If you disagree with these general terms and conditions or any part of these general terms and conditions you must not use our platform.

If you use our platform in the course of a business or other organizational project then by so doing you:
•	Confirm that you have obtained the necessary authority to agree to these general terms and conditions;
•	Bind both yourself and the person company or other legal entity that operates that business or organizational project to these general terms and conditions; and
•	Agree that you in these general terms and conditions shall reference both the individual user and the relevant person company or legal entity unless the context requires otherwise.

      </P>
   <h4>Registration and account </h4>
      <p>
        You may not register with our platform if you are under 18 years of age (by using our platform or agreeing to these general terms and conditions you warrant and represent to us that you are at least 18 years of age).

If you register for an account with our platform you will be asked to provide an email address/user ID and password and you agree to:
•	Keep your password confidential;
•	Notify us in writing immediately (using our contact details provided at“¬------” if you become aware of any disclosure of your password; and
•	Be responsible for any activity on our platform arising out of any failure to keep your password confidential and that you may be held liable for any losses arising out of such a failure.
•	Your account shall be used exclusively by you and you shall not transfer your account to any third party. If you authorize any third party to manage your account on your behalf this shall be at your own risk.
•	We may suspend or cancel your account details at any time in our sole discretion and without notice or explanation providing that if we cancel any products or services you have paid for but not received and you have not breached these general terms and conditions we will refund you in respect of the same.
•	You may cancel your account on our platform by contacting us.
      </p>
   <h4>Service Limitations and Modifications </h4>
      <p>
        We use reasonable care and skill to keep the Platform’s Service operational and to provide you with a personalized, immersive experience. However, our service offerings and their availability may change from time to time and subject to applicable laws, without liability to you; for example:
•	“¬------” service may experience temporary interruptions due to technical difficulties, maintenance or testing, or updates, including those required to reflect changes in relevant laws and regulatory requirements.
•	We aim to evolve and improve our services constantly, and we may modify, suspend, or stop (permanently or temporarily) providing all or part of the “¬------” service (including particular functions, features, subscription plans and promotional offerings).
•	The platform has no obligation to provide any specific content through the “¬------” Service, 
•	If you have already paid for a subscription that got discontinued by our discretion, we will refund the fees that were paid for the service that was discontinued by us. Your account and billing information must be up to date in order for us to refund you.
•	We have no liability to you, nor any obligation to provide a refund to you, in connection with internet or other service outages or failures that are caused by the actions of government authorities, other third parties or events beyond our control.
      </p>
  <h4> Withdrawal/Cancellation right </h4>
  <p> If you sign up for a Trial, you agree that the withdrawal right for the paid Subscription for which you are receiving a Trial ends “¬------” (----) days after you start the Trial. If you don't cancel the Paid Subscription before the Trial ends, you lose your right of withdrawal and authorize“¬------” to automatically charge you the agreed price each month until you cancel the Paid Subscription. For trials less than“¬------” (----) days, you expressly consent to us providing you with the paid service immediately after the end of your Trial and that from that point you lose your right of withdrawal.
If you purchase a Paid Subscription with no Trial, you agree you have “¬------” (----) days after your purchase to withdraw for any reason and must pay us for the services provided up until the time you tell us that you have changed your mind. You expressly consent to us providing you with the service immediately following your purchase, that you lose your right of withdrawal, and authorize“¬------” to charge you automatically each month until you cancel.
</p>
  <h4>Use of website and mobile applications </h4>
  <p>
You may:
1.	View pages from our website in a web browser;
2.	Download pages from our website for caching in a web browser;
3.	Print pages from our website for your own personal and non-commercial use providing that such printing is not systematic or excessive; and
4.	Use our platform services by means of a web browser subject to the other provisions of these general terms and conditions.

Except as expressly permitted by the other provisions of these general terms and conditions you must not download any material from our website or save any such material to your computer.

You may only use our website for your own personal and business purposes in respect of purchasing the services on our platform.

Except as expressly permitted by these general terms and conditions you must not edit or otherwise modify any material on our website.

Unless you own or control the relevant rights in the material you must not:
1.	Republish material from our website (including republication on another website);
2.	Sell, rent or sub-license material from our website;
3.	Show any material from our website in public;
4.	Exploit material from our website for a commercial purpose; or
5.	Redistribute material from our website.

Notwithstanding you may forward links to products and/or services on our website and redistribute our newsletter and promotional materials in print and electronic form to any person.

We reserve the right to suspend or restrict access to our website to areas of our website and/or to functionality upon our website. We may for example suspend access to the website during server maintenance or when we update the website. You must not circumvent or bypass or attempt to circumvent or bypass any access restriction measures on the website.
 </p>
      
   </section>     
</body>

</html>
