{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/terms&con.css'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Terms and Condition Page</title>
</head>
<body>
     <section>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#"><img src="{% static 'image/terma.jpg'%}" id="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto navbar-nav-danger " id="me">
            <li class="nav-item active" id="item">
              <a class="nav-link" href="../Aboutus">About Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Templates</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link">Sign Up</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn" id="search">Search</button>
          </form>
        </div>
      </nav>
      <div class="container text-center" id="cont-text">
        <h1 class="">TERMS OF USE</h1>
      </div>
      <div class="container" id="conttext-two">
        <h5>Last Updated December 2022</h5>
      </div>
      <div class="container" id="conttext-three">
       <p>General Terms By accessing and placing an order with Terma, you confirm that you are in agreement with and bound by the terms of service outlined below. These terms apply to the entire website and any email or other type of communication between you and Terma.</p>

        <p>Under no circumstances shall Terma team be liable for any direct, indirect, special, incidental or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if Terma team or an authorized representative has been advised of the possibility of such damages. If your use of materials from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof..</p>
        
        <p>Terma will not be responsible for any outcome that may occur during the course of usage of our resources. We reserve the rights to change prices and revise the resources usage policy in any moment.</p>
      </div>
      <div class="row" id="main-row">
        <div class="container-lg container-sm"id="conttext-four">
          <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">
        <h4>1. License</h4>
      </div>
      <div class="container-lg container-sm" id="inner-con">
        <p>Terma grants you a revocable, non-exclusive, non-transferable, limited license to download, install and use the website strictly in accordance with the terms of this Agreement.</p>
         <p>Definitions and key terms</p>
          <p>To help explain things as clearly as possible in this Terms of Service, every time any of these terms are referenced, are strictly defined as:</p>
          <ul class="list">
            <li>Cookie: small amount of data generated by a website and saved by your web browser. It is used to identify your browser, provide analytics, and remember information about you such as your language preference or login information.</li>
            <li>Company: when this terms mention “Company,” “we,” “us,” or “our,” it refers to Terma that is responsible for your information under this Terms of Service.</li>
            <li>Device: any internet connected device such as a phone, tablet, computer or any other device that can be used to visit Terma and use the services.</li>
            <li>Service: refers to the service provided by Terma as described in the relative terms (if available) and on this platform.</li>
            <li>Third-party service: refers to advertisers, contest sponsors, promotional and marketing partners, and others who provide our content or whose products or services we think may interest you.</li>
            <li>Website: Terma’s site, which can be accessed via this URL: https://Terma.io</li>
            <li>You: a person or entity that is registered with Terma to use the Services.</li>
          </ul>
          <p>Restrictions</p>
          <p>You agree not to, and you will not permit others to:</p>
          <ul>
            <li>License, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the website or make the platform available to any third party.</li>
            <li>Modify, make derivative works of, disassemble, decrypt, reverse compile or reverse engineer any part of the website.</li>
            <li>Remove, alter or obscure any proprietary notice (including any notice of copyright or trademark) of Terma or its affiliates, partners, suppliers or the licensors of the website.</li>
          </ul>
      </div>
        
        </div>
        <div class="row" id="main-rowS">
          <div class="container-lg container-sm"id="conttext-four">
            <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">

          <h4>2. Return and Refund Policy</h4>
        </div>
        <div class="container-lg container-sm" id="inner-cons">
         <p>f, for any reason, you are not completely satisfied with any good or service that we provide, don't hesitate to contact us and we will discuss any of the issues you are going through with our product.</p>

        </div>
          
          </div>

          <div class="row" id="main-rowS">
            <div class="container-lg container-sm"id="conttext-four">

              <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">
              <img src="./assest/images/add.png" alt="plus" id="plus-icon">

            <h4>3. Your consent</h4>
          </div>
          <div class="container-lg container-sm" id="inner-cons">
            <p>By using our site, registering an account, or making a purchase, you consent to this Terms of Service.
            </p>
          </div>
            
            </div>

            <div class="row" id="main-rowS">
              <div class="container-lg container-sm"id="conttext-four">

                <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">


              <h4>4. Link to other websites</h4>
            </div>
            <div class="container-lg container-sm" id="inner-consS">
              <p>This Terms of Service applies only to the Services. The Services may contain links to other websites not operated or controlled by Terma. We are not responsible for the content, accuracy or opinions expressed in such websites, and such websites are not investigated, monitored or checked for accuracy or completeness by us. Please remember that when you use a link to go from the Services to another website, our Terms of Service are no longer in effect. Your browsing and interaction on any other website, including those that have a link on our platform, is subject to that website’s own rules and policies. Such third parties may use their own cookies or other methods to collect information about you. </p>
            </div>
              
              </div>

              <div class="row" id="main-rowS">
                <div class="container-lg container-sm"id="conttext-four">

                  <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">


                <h4 class="cookie">5. Cookies</h4>
              </div>
              <div class="container-lg container-sm" id="inner-consST">
                <p>Terma uses "Cookies" to identify the areas of our website that you have visited. A Cookie is a small piece of data stored on your computer or mobile device by your web browser. We use Cookies to personalize the Content that you see on our website. Most web browsers can be set to disable the use of Cookies. However, if you disable Cookies, you may not be able to access functionality on our website correctly or at all. We never place Personally Identifiable Information in Cookies. By using our site, registering an account, or making a purchase, you consent to the fact that we use cookies.

                </p>
      
              </div>
                
                </div>

                <div class="row" id="main-rowS">
                  <div class="container-lg container-sm"id="conttext-four">

                    <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">



                  <h4>6. Updates to our web</h4>
                </div>
                <div class="container-lg container-sm" id="inner-consST">
                  <p>You acknowledge and agree that Terma may stop (permanently or temporarily) providing the Service (or any features within the Service) to you or to users generally at Terma’s sole discretion, without prior notice to you. You may stop using the Service at any time. You do not need to specifically inform Terma when you stop using the Service. You acknowledge and agree that if Terma disables access to your account, you may be prevented from accessing the Service, your account details or any files or other materials which is contained in your account.
                    If we decide to change our Terms of Service, we will post those changes on this page, and/or update the Terms of Service modification date below.
                    </p>
        
                </div>
                  
                  </div>
                  <div class="row" id="main-rowS">
                    <div class="container-lg container-sm"id="conttext-four">

                      <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">


                    <h4>7. Changes To Our Terms of Service
                    </h4>
                  </div>
                  <div class="container-lg container-sm" id="inner-consST">
                    <p>You acknowledge and agree that Terma  may stop (permanently or temporarily) providing the Service (or any features within the Service) to you or to users generally at Terma’s sole discretion, without prior notice to you. You may stop using the Service at any time. You do not need to specifically inform Terma when you stop using the Service. You acknowledge and agree that if Terma disables access to your account, you may be prevented from accessing the Service, your account details or any files or other materials which is contained in your account.
                      If we decide to change our Terms of Service, we will post those changes on this page, and/or update the Terms of Service modification date below.
                    </p>
          
                  </div>
                    
                    </div>
                    <div class="row" id="main-rowS">
                      <div class="container-lg container-sm"id="conttext-four">

                        <img src="{% static 'image/add.png'%}" alt="plus" id="plus-icon">

                      <h4>8. Third Party Services</h4>
                    </div>
                    <div class="container-lg container-sm" id="inner-consST">
                      <p>We may display, include or make available third-party content (including data, information, applications and other products services) or provide links to third-party websites or services ("Third- Party Services").
                        You acknowledge and agree that Terma shall not be responsible for any Third-Party Services, including their accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality or any other aspect thereof. Terma does not assume and shall not have any liability or responsibility to you or any other person or entity for any Third-Party Services.
                        Third-Party Services and links thereto are provided solely as a convenience to you and you access and use them entirely at your own risk and subject to such third parties' terms of service.
                        
                        </p>
            
                    </div>
                      
                      </div>

     </section>
     <footer>
      <div class="container-fluid" id="last-footer">
        <div class="row" id="fifth-cont">
           <div class="col-3">
            <p>Products</p>
           </div>
           <div class="col-3">
            <p>Company</p>
            <p class="faint">About Us</p>
            <p class="faint">Our Terms Of Use</p>
            <p class="faint">Our Privacy Policy</p>
           </div>
           <div class="col-3">
            <p>Resources</p>
            <p class="faint">Term and conditions</p>
            <p class="faint">Privacy policies</p>
           </div>
           <div class="col-3">
            <p>Support</p>
            <p class="faint">Contact Us</p>
            <p class="faint">FAQs</p>
           </div>
        </div>
      
      </div>
     </footer>
     
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</html>